@import "../variables";

.header {
  background-color: $color-primary;
  margin-bottom: $padding-large;

  .container {
    align-items: center;
    display: flex;
    width: 100%;
  }

  a {
    color: $color-initial;
  }

  .logo {
    font-size: 3.6rem;
    font-weight: 700;
  }

  .nav-links {
    width: 100%;

    ul {
      display: inline-block;
      margin-bottom: 0;

      li {
        display: inline;
        list-style: none;
        margin-left: $padding-large;
      }
    }
  }
}
